<div id="banner" class="{{promoBanerCssClass}}" (click)="hidePromoBanner()">
  <a href="http://jelenastevanovic.rs/personalni-treninzi-za-zene" target="blank">
    <h3>
      <small> fitness trener za žene</small>
      <br> Jelena Stevanović</h3>
    <img src="http://res.cloudinary.com/dgq2ohvtq/image/upload/v1474474686/2-min_bsksuq.jpg" alt="fitnes trener jelena stevanovic"
      class="responsive-img">
    <p>Personalni treninzi, pravljenje programa, funkcionalna dijagnostika, korekcija ishrane, grupni treninzi, joga za trudnice...</p>
  </a>
</div>