<div class="row home" *ngIf="articles">
  <div class="col s12 m6" *ngFor="let article of articles.featured">
    <div class="card big">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator responsive-img" src="{{ article.image_url }}" alt="fitnes zona">
      </div>
      <div class="card-content">
        <h2 class="card-title activator grey-text text-darken-4">{{ article.title }}
          <i class="material-icons right">more_vert</i>
        </h2>
        <p>
          <a [routerLink]="getArticleUrl(article)">otvori...</a>
        </p>
      </div>
      <div class="card-reveal">
        <h2 class="card-title grey-text text-darken-4">{{ article.title }}
          <i class="material-icons right">close</i>
        </h2>
        <p>{{ article.description }}</p>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col s12 m4" *ngFor="let article of articles.articles">
      <div class="card horizontal">
        <div class="card-image">
          <img src="{{ article.image_url }}" class="responsive-img" alt="fitnes zona">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3>{{ article.title }}</h3>
          </div>
          <div class="card-action">
            <a [routerLink]="getArticleUrl(article)">otvori...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>