<div *ngIf="article">
  <h1 class="z-depth-5 center-align">
    {{ article.title }}
    <span class="right">
      <span>
        <i class="material-icons">visibility</i>
        <small>{{ article.seen_times }}</small>
      </span>
      <span class="tooltipped" data-position="bottom" data-delay="50" [attr.data-tooltip]="listOfLikes">
        <i class="material-icons">sentiment_very_satisfied</i>
        <small>{{ article.number_of_likes }}</small>
      </span>
      <span class="tooltipped" data-position="bottom" data-delay="50" [attr.data-tooltip]="listOfDislikes">
        <i class="material-icons">sentiment_very_dissatisfied</i>
        <small>{{ article.number_of_dislikes }}</small>
      </span>
    </span>
  </h1>
  <div class="row col s12 m12 z-depth-5">
    <div class="row">
      <div class="text-img col s12 m5 right ">
        <img class="z-depth-5 responsive-img" src="{{ article.image_url }}" alt="">
      </div>
      <p class="flow-text col s12 m7 left" [innerHtml]="article.intro">
      </p>
    </div>
    <div class="row col s12 m12">
      <p class="flow-text col s12 m12 center" [innerHtml]="article.text">
      </p>
    </div>
  </div>

  <div class="text-button-action valign-wrapper">
    <div class="fixed-action-btn horizontal pulse">
      <a class="btn-floating btn-large red darken-4 pulse">
        <i class="large material-icons">thumbs_up_down</i>
      </a>
      <ul>
        <li>
          <a class="btn-floating red darken-4">
            <i class="material-icons" (click)="like()">sentiment_satisfied</i>
          </a>
        </li>
        <li>
          <a class="btn-floating red darken-4">
            <i class="material-icons" (click)="disLike()">sentiment_very_dissatisfied</i>
          </a>
        </li>
        <li>
          <a class="btn-floating red darken-4">
            <i class="material-icons" (click)="openCommentBox()">comment</i>
          </a>
        </li>
        <li>
          <a class="btn-floating red darken-4">
            <i class="material-icons">share</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row tags right-align col m12" *ngIf="article.tags">
    <span class="tag z-depth-5" *ngFor="let tag of article.tags">{{ tag }}
      <i class="material-icons" (click)="likeOrUnlikeTag(tag)">{{ hasUSerLikedTag(tag) ? 'favorite' : 'favorite_border'}}</i>
    </span>
  </div>
  <div class="row comments" *ngIf="article.comments">
    <h4 id="commentDiv">Komentari:</h4>
    <div class="comment z-depth-5" *ngFor="let comment of article.comments">
      <p>{{ comment.comment }}</p>
      <span class="user">{{ comment.userName }}</span>
      <span class="time right ">{{ comment.created_at }}</span>
    </div>
  </div>

  <div class="row z-depth-5" id="commentBox" [ngClass]="{open: comentBoxOpen}">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s8">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea" [(ngModel)]="commentText"></textarea>
          <label for="icon_prefix2">Mesto za Vaš komentar...</label>
        </div>
        <div class="col s2">
          <div class="btn-floating large red darken-4 pulse">
            <i class="material-icons prefix" (click)="comment()">done</i>
          </div>
        </div>
      </div>
    </div>
  </div>