<h1 class="z-depth-5 center-align">
  Single Article
  <span class="right">
    <span>
      <i class="material-icons">visibility</i>
      <small>354</small>
    </span>
    <span>
      <i class="material-icons">sentiment_very_satisfied</i>
      <small>103</small>
    </span>
    <span>
      <i class="material-icons">sentiment_very_dissatisfied</i>
      <small>6</small>
    </span>
  </span>
</h1>
<div class="row col s12 m12 z-depth-5">
  <div class="row">
    <div class="text-img col s12 m5 right ">
      <img class="z-depth-5 responsive-img" src="http://fitneszona.rs/images/r_t_801.jpg" alt="">
    </div>
    <p class="flow-text col s12 m7 left">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam nulla inventore explicabo quo repellendus, sit ut aspernatur
      assumenda qui earum asperiores perferendis facere eius magnam possimus. Laboriosam quod sunt voluptatibus
    </p>
  </div>
  <div class="row col s12 m12">
    <p class="flow-text col s12 m12 center">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam nulla inventore explicabo quo repellendus, sit ut aspernatur
      assumenda qui earum asperiores perferendis facere eius magnam possimus. Laboriosam quod sunt voluptatibus. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Eos sapiente, odit ab, officiis, omnis voluptate itaque tempore in est
      velit odio? Assumenda, dignissimos eum tempore aspernatur rem eius in ab! Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Modi odit perspiciatis autem, placeat natus distinctio corrupti libero error quasi? Rerum rem nesciunt aliquid
      enim sunt facere obcaecati laudantium quas corrupti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
      labore rem quas saepe minus repellendus inventore nostrum sint ipsam facere suscipit mollitia expedita debitis, quisquam
      earum dolorum hic delectus quia?
    </p>
  </div>
</div>
<div class="text-button-action valign-wrapper">
  <div class="fixed-action-btn horizontal pulse">
    <a class="btn-floating btn-large red darken-4 pulse">
      <i class="large material-icons">thumbs_up_down</i>
    </a>
    <ul>
      <li>
        <a class="btn-floating red darken-4">
          <i class="material-icons">sentiment_satisfied</i>
        </a>
      </li>
      <li>
        <a class="btn-floating red darken-4">
          <i class="material-icons">sentiment_very_dissatisfied</i>
        </a>
      </li>
      <li>
        <a class="btn-floating red darken-4">
          <i class="material-icons">comment</i>
        </a>
      </li>
      <li>
        <a class="btn-floating red darken-4">
          <i class="material-icons">share</i>
        </a>
      </li>
    </ul>
  </div>
</div>