<div *ngIf="article" id="single-article">

  <h1 class="z-depth-5 center">
    {{ article.title }}
  </h1>
  <span class="center row col s12">
    <span class="counter">
      <i class="material-icons">visibility</i>
      <small>{{ article.seen_times }}</small>
    </span>
    <span class="tooltipped counter" data-position="bottom" data-delay="50" [attr.data-tooltip]="listOfLikes">
      <i class="material-icons">sentiment_very_satisfied</i>
      <small>{{ article.number_of_likes }}</small>
    </span>
    <span class="tooltipped counter" data-position="bottom" data-delay="50" [attr.data-tooltip]="listOfDislikes">
      <i class="material-icons">sentiment_very_dissatisfied</i>
      <small>{{ article.number_of_dislikes }}</small>
    </span>
  </span>
  <div class="row col s12 m12 z-depth-5 article-text">
    <p class="flow-text col s12" [innerHtml]="article.intro"></p>
    <div class="text-img col s12 center">
      <img class="z-depth-5 responsive-img" src="{{ article.image_url }}" alt="fitnes zona">
    </div>
    <div class="row col s12 m12">
      <p class="flow-text col s12 m12 center" [innerHtml]="article.text">
      </p>
    </div>
  </div>
  <div id="social-buttons" class="col s12">
    <span>
      <a class="btn-floating red darken-4" (click)="like()">
        <i class="material-icons">sentiment_satisfied</i>
      </a>
    </span>
    <span>
      <a class="btn-floating red darken-4" (click)="disLike()">
        <i class="material-icons">sentiment_very_dissatisfied</i>
      </a>
    </span>
    <span>
      <a class="btn-floating red darken-4" (click)="openCommentBox()">
        <i class="material-icons">comment</i>
      </a>
    </span>
    <span>
      <a class="btn-floating red darken-4">
        <i class="material-icons">share</i>
      </a>
    </span>
  </div>

  <div class="row tags right-align col m12" *ngIf="article.tags">
    <span class="tag z-depth-5" *ngFor="let tag of article.tags">{{ tag }}
      <i class="material-icons" (click)="likeOrUnlikeTag(tag)">{{ hasUSerLikedTag(tag) ? 'favorite' : 'favorite_border'}}</i>
    </span>
  </div>

  <div class="row z-depth-5" id="commentBox" [ngClass]="{open: comentBoxOpen}">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s8">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea" [(ngModel)]="commentText"></textarea>
          <label for="icon_prefix2">Mesto za Vaš komentar...</label>
        </div>
        <div class="col s2">
          <div class="btn-floating large red darken-4 pulse">
            <i class="material-icons prefix" (click)="comment()">done</i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row comments" *ngIf="article.comments && article.comments.length">
    <h4 id="commentDiv">Komentari:</h4>
    <div class="comment z-depth-5" *ngFor="let comment of article.comments">
      <p>{{ comment.comment }}</p>
      <span class="user">{{ comment.userName }}</span>
      <span class="time right ">{{ comment.created_at }}</span>
    </div>
  </div>
</div>