<div id="modal" class="modal bottom-sheet z-depth-5 lg">
  <div class="modal-content">
    <div class="row">
      <h4 *ngIf="message" class="error"> Korisnik vec postoji </h4>
      <div class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix" [ngClass]="{'error': !isFirstnameValid  }">Firstname</i>
            <input id="first_name" type="text" class="validate" value="firstname" [(ngModel)]="_userObj.firstName" (blur)="validate('firstname')">
            <label for="first_name">
              <span [ngClass]="{'error': !isEmailValid  }">
                {{ isFirstnameValid ? 'Vase Ime:' : 'Unesite Validno Ime!' }}
              </span>
            </label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix" [ngClass]="{'error': !isLastnameValid  }">Lastname</i>
            <input id="last_name" type="text" class="validate" [(ngModel)]="_userObj.lastName" (blur)="validate('lastname')">
            <label for="last_name">
              <span [ngClass]="{'error': !isEmailValid  }">
                {{ isLastnameValid ? 'Vase Prezime:' : 'Unesite Validno Prezime!' }}
              </span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix" [ngClass]="{'error': !isPasswordValid  }">Password</i>
            <input id="password" type="password" class="validate" [(ngModel)]="_userObj.password" (blur)="validate('password')">
            <label for="password">
              <span [ngClass]="{'error': !isEmailValid  }">
                {{ isPasswordValid ? 'Vasa Sifra:' : 'Unesite Validnu Sifru!' }}
              </span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix" [ngClass]="{'error': !isEmailValid  }">email</i>
            <input id="email" type="email" class="validate" [(ngModel)]="_userObj.email" (blur)="validate('email')">
            <label for="email">
              <span [ngClass]="{'error': !isEmailValid  }">
                {{ isEmailValid ? 'Vasa Email Adresa:' : 'Unesite Validnu Email Adresu!' }}
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="registerUser()">Registruj se</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="closeModal()">Zatvori</a>
  </div>
</div>