<div class="row" id="specific" *ngIf="articles">
  <div class="col s12 m4" *ngFor="let featuredArticle of articles.featured">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator responsive-image" src="{{ featuredArticle.image_url }}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{ featuredArticle.title }}
          <i class="material-icons right">more_vert</i>
        </span>
        <p>
          <a [routerLink]="getArticleUrl(featuredArticle)">otvori...</a>
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ featuredArticle.title }}
          <i class="material-icons right">close</i>
        </span>
        <p>{{ featuredArticle.description }}</p>
      </div>
    </div>
  </div>
  <div class="col s12 m12" *ngIf="articles.articles">
    <ul class="collapsible popout" data-collapsible="accordion">
      <li *ngFor="let article of articles.articles">
        <div class="collapsible-header" (click)="selectArticle(article.id)">
          <i class="material-icons">filter_drama</i>{{ article.title }}</div>
        <div class="collapsible-body" [ngClass]="{open: isArticleSelected(article.id)}">
          <span>{{ article.description }}</span>
          <hr>
          <span class="link col s12" [routerLink]="getArticleUrl(article)">otvori</span>
        </div>
      </li>
    </ul>
  </div>
</div>