html {
  width: 100vw;
  overflow-x: hidden;
}
body {
  font-family: 'Righteous', cursive;
  min-height: 87vh;
  overflow-x: hidden;
}

.open {
  display: block !important;
}

body .light {
  background-color: snow;
}

body .dark {
  background-color: #1e1e1e;
}

.dark table td {
  text-align: center !important;
  border: 2px solid snow !important;
  box-shadow: 1px 1px 15px darkgray !important;
}

.light,
.dark {
  min-height: 100vh;
}

.disabled {
  pointer-events: none;
}

.light .nav-extended {
  background-color: #ab0002;
}

.dark .nav-extended {
  background-image: -webkit-gradient(
    linear,
    left,
    right,
    from(black),
    to(#ab0002)
  );
  background-image: -webkit-linear-gradient(top, black, #ab0002);
  background-image: -moz-linear-gradient(top, black, #ab0002);
  background-image: linear-gradient(to bottom, black, #ab0002);
}

a.brand-logo {
  padding-left: 5%;
  font-size: calc(36px + 1vw);
}

.light a.brand-logo {
  color: snow;
}

.dark a.brand-logo {
  color: snow;
}

.dark #single-article h1,
.dark #single-article .article-text,
.dark #single-article #commentBox,
.dark #single-article .comment {
  background-color: rgba(0, 0, 0, 0.7);
  color: snow;
  box-shadow: 3px 4px 12px darkgray;
}

.dark #single-article .tags,
.dark #single-article #commentDiv {
  color: snow;
}

#search {
  width: 45vw;
  min-width: 300px;
}

#search:focus {
  border-bottom: 2px solid snow;
  box-shadow: 3px 0px 5px gray;
}

#modal.open {
  -webkit-transition: transform 2.5s ease-in-out 0.5 !important;
  -moz-transition: transform 2.5s ease-in-out 0.5 !important;
  transition: transform 2.5s ease-in-out 0.5 !important;
  z-index: 999999999;
  box-shadow: 3px 7px 20px #ab0002;
  transform: translateX(10%) rotateX(0deg) rotateZ(0deg);
  max-height: 500px;
}

#modal {
  width: 80%;
  top: 150px;
  background-color: rgba(255, 255, 255, 1);
  transform: translateX(-240%) rotateX(184deg) rotateZ(4330deg);
  background-image: url(http://icons.iconarchive.com/icons/double-j-design/origami-colored-pencil/256/red-user-icon.png);
  background-size: contain;
  background-position-x: 70%;
  background-repeat: no-repeat;
  position: absolute;
}

.light #modal.open {
  background-color: snow;
}

.dark #modal.open {
  background-color: black;
}

.dark #modal.open h4 {
  color: #ab0002;
}

.dark #modal.open .modal-footer {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(dimgray),
    to(darkred)
  );
  background-image: -webkit-linear-gradient(top, dimgray, darkred);
  background-image: -moz-linear-gradient(top, dimgray, darkred);
  background-image: linear-gradient(to bottom, dimgray, darkred);
}

.dark #modal.open .modal-footer a {
  color: snow;
}

.dark #modal.open input {
  color: snow;
}

#modal.alert {
  background-image: url(http://www.fil.bg.ac.rs/mmd_27/mmd_2015/css/images/menu/photo.png);
  background-size: contain;
  background-position-x: 130%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.error {
  color: firebrick;
  box-shadow: 2px 3px snow;
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.88);
}

.light .alert .flow-text {
  padding: 5%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.dark .error {
  box-shadow: 2px 3px 20px #ab0002;
  background: rgba(0, 0, 0, 0.6);
}

.dark .card {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(black),
    to(#1e1e1e)
  );
  background-image: -webkit-linear-gradient(top, black, #1e1e1e);
  background-image: -moz-linear-gradient(top, black, #1e1e1e);
  background-image: linear-gradient(to bottom, black, #1e1e1e);
  box-shadow: 5px 7px 20px lightgray;
}

.dark .card .card-title {
  color: snow !important;
}

.dark .card p a {
  color: snow !important;
  text-decoration: underline;
}

.dark .card p {
  color: snow !important;
}

.dark .card .card-reveal {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1e1e1e),
    to(black)
  );
  background-image: -webkit-linear-gradient(top, #1e1e1e, black);
  background-image: -moz-linear-gradient(top, #1e1e1e, black);
  background-image: linear-gradient(to bottom, #1e1e1e, black);
}

.dark .card .card-reveal p {
  color: snow !important;
}

.dark li.collection-item,
.dark ul li.collection-header.category-button,
.dark ul.collapsible li .collapsible-header,
.dark ul.collapsible li .collapsible-body {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1e1e1e),
    to(black)
  );
  background-image: -webkit-linear-gradient(top, #1e1e1e, black);
  background-image: -moz-linear-gradient(top, #1e1e1e, black);
  background-image: linear-gradient(to bottom, #1e1e1e, black);
  color: snow !important;
}

body {
  position: relative;
}

#left-sidebar .collection.open .category-button .material-icons.rotator {
  -webkit-transition: transform 0.35 ease-in-out;
  -moz-transition: transform 0.35 ease-in-out;
  transition: transform 0.35 ease-in-out;
}

#left-sidebar .collection.open .category-button .material-icons.rotator {
  transform: rotateZ(90deg);
}

#left-sidebar .collection .list-items {
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.35 ease-in-out;
  -moz-transition: height 0.35 ease-in-out;
  transition: height 0.35 ease-in-out;
}

#left-sidebar .collection.open .list-items {
  height: auto;
  overflow: visible;
}

#left-sidebar .collection .category-text.open .material-icons {
  -webkit-transition: transform 0.35 ease-in-out;
  -moz-transition: transform 0.35 ease-in-out;
  transition: transform 0.35 ease-in-out;
}

#left-sidebar .collection .category-text.open .material-icons {
  transform: rotateZ(90deg);
}

#left-sidebar .collection .category-text .list-items {
  height: 0px !important;
  overflow: hidden;
}

#left-sidebar .collection .list-items .category-text .text-details {
  position: relative;
  display: none;
  width: 120%;
  z-index: 9999999 !important;
  transform: translateX(-10%) rotateX(90deg);
  -webkit-transition: transform 0.35s ease-in-out 0.2s;
  -moz-transition: transform 0.35s ease-in-out 0.2s;
  transition: transform 0.35s ease-in-out 0.2s;
}

#left-sidebar .collection.open .list-items .category-text.open .text-details {
  display: block;
  transform: translateX(-10%) rotateX(0deg);
}

.material-icons {
  color: #ab0002;
}

.card-action a {
  color: #ab0002 !important;
  text-transform: lowercase !important;
  font-size: 14px;
}

#left-sidebar,
#replacment-list,
.card,
.collapsible,
.collapsible.popout li {
  box-shadow: 5px 10px 89px;
}

#replacment-list {
  position: absolute;
  z-index: 99999;
  transform: translateX(-240%) rotateX(184deg) rotateZ(4330deg);
  top: 18vh;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  height: 60vh;
  overflow-y: scroll;
}

#replacment-list.open {
  transform: translateX(100%) rotateX(0deg) rotateZ(0deg);
}

.explore {
  transform: translateY(10%) translateX(-15%);
  position: absolute;
  font-size: 300% !important;
}

.swap {
  font-size: 300% !important;
}
#left-sidebar h5 {
  text-transform: uppercase;
  padding-left: 15%;
  padding-bottom: 20%;
  font-size: 18px;
}

li.collection-header.category-button {
  height: 70px;
}

li b {
  font-size: 14px;
}

li.tab a.selected {
  box-shadow: inset 2px 3px 20px rgba(255, 255, 255, 0.6);
}

.card.horizontal .card-stacked .card-content p {
  max-height: calc(10vh - 10px);
  overflow-y: hidden;
  font-size: 12px;
}

.row.horisontal-scroll {
  white-space: nowrap;
}

h1 span small,
h1 span i {
  font-size: 21px;
  color: #ab0002;
  text-shadow: 2px 3px 5px gray;
}

.flow-text {
  text-shadow: 2px 3px 5px gray;
}

.text-button-action {
  transform: translateY(0.5vh) translateX(-3vw);
}

#bottom-menu {
  width: 100vw;
  position: absolute;
  background-color: rgba(171, 0, 2, 0.8);
  z-index: 9999999;
}

.fixed-action-btn.toolbar {
  position: fixed;
  left: 20px;
}

.fixed-action-btn.toolbar a i {
  color: snow !important;
  font-size: 35px;
}

.comments .comment {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
}

.comments .comment .user,
.comments .comment .time {
  color: #ab0002;
  text-shadow: 2px 1px 5px gray;
}

.tags .tag {
  margin-left: 2%;
  padding: 1%;
}

#loader,
#start-loader {
  z-index: 99999999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ab0002),
    to(black)
  );
  background-image: -webkit-linear-gradient(top, #ab0002, black);
  background-image: -moz-linear-gradient(top, #ab0002, black);
  background-image: linear-gradient(to bottom, #ab0002, black);
}

#loader {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: none;
  z-index: 999999999999999999;
}

#loader img {
  position: absolute;
  top: 30%;
  left: 40%;
}

#start-loader h1 {
  position: absolute;
  top: 30%;
  transform: translateX(30%);
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-left: 1%;
  color: rgba(255, 255, 255, 1);
  text-shadow: 3px 2px 10px gray;
}

#start-loader h1 span {
  font-size: 24px;
  text-align: right;
}

.tags span i {
  cursor: pointer;
}

.tags span {
  text-transform: uppercase;
}

#commentBox {
  position: absolute;
  z-index: 99999;
  top: 400px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.91);
  transform: rotateX(90deg) rotateY(2003deg) rotateZ(90deg);
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

#commentBox .btn-floating {
  transform: translateX(150%) translateY(150%);
}

#commentBox.open {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

#specific .card {
  height: 450px;
}

.collapsible-body.open {
  box-shadow: 2px 3px 5px gray;
  transform: translateX(-1%);
  background-color: snow;
}

.home .card.big {
  height: 450px;
}

.home .card.big .card-image {
  max-height: 320px;
  overflow-y: hidden;
}

.home .card.horizontal {
  height: 150px;
  overflow-y: hidden;
}

#category .card.big {
  height: 500px;
}

#category .card.big .card-image {
  max-height: 380px;
  overflow-y: hidden;
}

#category .card.horizontal {
  height: 150px;
  overflow-y: hidden;
}

#modal.search {
  max-height: 720px !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

#modal.search .card {
  height: 160px;
  overflow-y: hidden;
  margin-left: 2%;
  margin-right: 2%;
}

#modal.search #close {
  position: fixed;
  top: -10px;
  left: -10px;
  z-index: 999999999;
}

#right-sidebar,
#right-sidebar-trigger {
  min-height: 420px;
  max-height: 720px;
  height: 75vh;
  border: 1px solid #ab0002;
  box-shadow: 3px 4px 8px #ab0002;
  position: absolute;
  z-index: 999;
  top: 150px;
  right: 0px;
  background: snow;
  transform: translateX(100%);
  -webkit-transition: transform 0.6s ease-in;
  -moz-transition: transform 0.6s ease-in;
  transition: transform 0.6s ease-in;
}

#right-sidebar .tab {
  min-height: 420px;
  max-height: 720px;
  height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#right-sidebar-trigger {
  border: 1px solid snow;
  box-shadow: 2px 3px 2px #ab0002;
  width: 30px;
  top: 0px;
  left: -69px;
  z-index: 99;
  background: #ab0002;
  background: -webkit-radial-gradient(
    circle,
    #000000,
    #282828,
    #1e1e1e
  ); /* Safari */
  background: -o-radial-gradient(
    circle,
    #000000,
    #282828,
    #1e1e1e
  ); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #000000, #282828, #1e1e1e);
  /* Firefox 3.6 to 15 */
  background: radial-gradient(
    circle,
    #000000,
    #282828,
    #1e1e1e
  ); /* Standard syntax */
  overflow: hidden;
}
#right-sidebar-trigger i {
  color: #ab0002;
  font-size: 62px;
  position: absolute;
  left: -60%;
  top: 40%;
}
#right-sidebar.open {
  transform: translateX(0%);
}
.dark #right-sidebar {
  border: 3px solid black;
  box-shadow: 3px 4px 8px darkgrey;
  background: #1e1e1e;
}
.dark #right-sidebar .sidebar-tab {
  border: 2px solid snow;
  box-shadow: inset 3px 4px 8px black;
}
#right-sidebar .tab-title {
  box-shadow: 3px 4px 4px black;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(black),
    to(#1e1e1e)
  );
  background-image: -webkit-linear-gradient(top, black, #1e1e1e);
  background-image: -moz-linear-gradient(top, black, #1e1e1e);
  background-image: linear-gradient(to bottom, black, #1e1e1e);
}
#right-sidebar .tab-title.active {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(black),
    to(#ab0002)
  );
  background-image: -webkit-linear-gradient(top, black, #ab0002);
  background-image: -moz-linear-gradient(top, black, #ab0002);
  background-image: linear-gradient(to bottom, black, #ab0002);
}
#right-sidebar .tab-title h5 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  color: snow;
}
#right-sidebar .right-sidebar-tab {
  top: 0px;
  position: inherit;
  width: 100%;
  -webkit-transition: transform 0.7s ease-in-out;
  -moz-transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  overflow: hidden;
}
#right-sidebar .right-sidebar-tab .content {
  -webkit-transition: height 0.4s ease-in-out 0.25;
  -moz-transition: height 0.4s ease-in-out 0.25;
  transition: height 0.4s ease-in-out 0.25;
  height: 0px;
}
#right-sidebar .right-sidebar-tab.active .content {
  -webkit-transition: height 0.6s ease-in-out 0.25;
  -moz-transition: height 0.6s ease-in-out 0.25;
  transition: height 0.6s ease-in-out 0.25;
  height: 100%;
}
#right-sidebar .right-sidebar-tab.recomended {
  transform: translateX(-100%);
}
#right-sidebar .right-sidebar-tab.history {
  transform: translateX(100%);
}
#right-sidebar .right-sidebar-tab.active {
  transform: translateX(0%) !important;
}
.dark .bottom-menu-button {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ab0002),
    to(black)
  );
  background-image: -webkit-linear-gradient(top, #ab0002, black);
  background-image: -moz-linear-gradient(top, #ab0002, black);
  background-image: linear-gradient(to bottom, #ab0002, black);
}
#bottom-menu-panel {
  background-color: snow;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  z-index: 99999999999999;
  height: 0% !important;
  -webkit-transition: height 0.7s ease-in-out;
  -moz-transition: height 0.7s ease-in-out;
  transition: height 0.7s ease-in-out;
  box-shadow: inset 5px 8px 8px black;
}
#bottom-menu-panel.open {
  height: 55% !important;
}
#bottom-menu-panel #close {
  position: absolute;
  top: -1%;
  left: -1%;
  margin-left: 0%;
  margin-right: 0%;
}
#bottom-menu-panel .btn-floating {
  margin-left: 5%;
  margin-right: 5%;
}
.dark #bottom-menu-panel {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1e1e1e),
    to(#282828)
  );
  background-image: -webkit-linear-gradient(top, #1e1e1e, #282828);
  background-image: -moz-linear-gradient(top, #1e1e1e, #282828);
  background-image: linear-gradient(to bottom, #1e1e1e, #282828);
  box-shadow: inset 2px 3px 10px black;
}
.dark #bottom-menu-panel h4 {
  color: #ab0002;
}
.dark #bottom-menu-panel {
  color: snow;
}
.dark #bottom-menu-panel .select-dropdown.active {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1e1e1e),
    to(#282828)
  ) !important;
  background-image: -webkit-linear-gradient(top, #1e1e1e, #282828) !important;
  background-image: -moz-linear-gradient(top, #1e1e1e, #282828) !important;
  background-image: linear-gradient(to bottom, #1e1e1e, #282828) !important;
}
.dark #bottom-menu-panel .dropdown-content li > a,
.dropdown-content li > span {
  color: snow !important;
}
#customer-support {
  padding: 3%;
  padding-bottom: 0%;
  border-radius: 70%;
  border-bottom-right-radius: 0%;
  border: 1px solid snow;
  box-shadow: 5px 8px 22px #ab0002;
  min-width: 320px;
  width: 35vw;
  position: fixed;
  bottom: 0px;
  z-index: 9999;
  background: snow;
  transform: rotateZ(300deg) translateX(100vw);
  -webkit-transition: transform 0.5s ease-in;
  -moz-transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
}
#customer-support.open {
  transform: rotateZ(0deg) translateX(0vw);
}
.dark #customer-support {
  background: #1e1e1e;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(black),
    to(#1e1e1e)
  );
  background-image: -webkit-linear-gradient(top, black, #1e1e1e);
  background-image: -moz-linear-gradient(top, black, #1e1e1e);
  background-image: linear-gradient(to bottom, black, #1e1e1e);
  color: snow;
}
#customer-support label {
  color: #ab0002;
}
#customer-support .btn-floating {
  margin-left: 2%;
  margin-right: 2%;
}
