body {
  font-family: 'Righteous', cursive;
  min-height: 87vh;
  overflow-x: hidden;
}

.open {
  display: block !important;
}

body .light {
  background-color: snow;
}

body .dark {
  background-color: #1e1e1e;
}

.disabled {
  pointer-events: none;
}

.light .nav-extended {
  background-color: #ab0002;
}

.dark .nav-extended {
  background-image: -webkit-gradient(
    linear,
    left,
    right,
    from(black),
    to(#ab0002)
  );
  background-image: -webkit-linear-gradient(top, black, #ab0002);
  background-image: -moz-linear-gradient(top, black, #ab0002);
  background-image: linear-gradient(to bottom, black, #ab0002);
}

a.brand-logo {
  padding-left: 5%;
  font-size: calc(36px + 1vw);
}

.light a.brand-logo {
  color: snow;
}

.dark a.brand-logo {
  color: snow;
}

#search {
  width: 45vw;
  min-width: 300px;
}

#search:focus {
  border-bottom: 2px solid snow;
  box-shadow: 3px 0px 5px gray;
}

#modal.open {
  -webkit-transition: transform 2.5s ease-in-out 0.5 !important;
  -moz-transition: transform 2.5s ease-in-out 0.5 !important;
  transition: transform 2.5s ease-in-out 0.5 !important;
  z-index: 999999999;
  box-shadow: 3px 7px 20px #ab0002;
  transform: translateX(10%) rotateX(0deg) rotateZ(0deg);
  max-height: 500px;
}

#modal {
  width: 80%;
  top: 150px;
  background-color: rgba(255, 255, 255, 1);
  transform: translateX(-240%) rotateX(184deg) rotateZ(4330deg);
  background-image: url(http://icons.iconarchive.com/icons/double-j-design/origami-colored-pencil/256/red-user-icon.png);
  background-size: contain;
  background-position-x: 70%;
  background-repeat: no-repeat;
  position: absolute;
}

.light #modal.open {
  background-color: snow;
}

.dark #modal.open {
  background-color: black;
}

.dark #modal.open h4 {
  color: #ab0002;
}

.dark #modal.open .modal-footer {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(dimgray),
    to(darkred)
  );
  background-image: -webkit-linear-gradient(top, dimgray, darkred);
  background-image: -moz-linear-gradient(top, dimgray, darkred);
  background-image: linear-gradient(to bottom, dimgray, darkred);
}

.dark #modal.open .modal-footer a {
  color: snow;
}

.dark #modal.open input {
  color: snow;
}

#modal.alert {
  background-image: url(http://www.fil.bg.ac.rs/mmd_27/mmd_2015/css/images/menu/photo.png);
  background-size: contain;
  background-position-x: 130%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.error {
  color: firebrick;
  box-shadow: 2px 3px snow;
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.88);
}

.light .alert .flow-text {
  padding: 5%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.dark .error {
  box-shadow: 2px 3px 20px #ab0002;
  background: rgba(0, 0, 0, 0.6);
}

.dark .card {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(black),
    to(#1e1e1e)
  );
  background-image: -webkit-linear-gradient(top, black, #1e1e1e);
  background-image: -moz-linear-gradient(top, black, #1e1e1e);
  background-image: linear-gradient(to bottom, black, #1e1e1e);
  box-shadow: 5px 7px 20px lightgray;
}

.dark .card .card-title {
  color: snow !important;
}

.dark .card p a {
  color: snow !important;
  text-decoration: underline;
}

.dark .card p {
  color: snow !important;
}

.dark .card .card-reveal {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1e1e1e),
    to(black)
  );
  background-image: -webkit-linear-gradient(top, #1e1e1e, black);
  background-image: -moz-linear-gradient(top, #1e1e1e, black);
  background-image: linear-gradient(to bottom, #1e1e1e, black);
}

.dark .card .card-reveal p {
  color: snow !important;
}

.dark li.collection-item,
.dark ul li.collection-header.category-button {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1e1e1e),
    to(black)
  );
  background-image: -webkit-linear-gradient(top, #1e1e1e, black);
  background-image: -moz-linear-gradient(top, #1e1e1e, black);
  background-image: linear-gradient(to bottom, #1e1e1e, black);
  color: snow !important;
}

body {
  position: relative;
}

#left-sidebar .collection.open .category-button .material-icons.rotator {
  -webkit-transition: transform 0.35 ease-in-out;
  -moz-transition: transform 0.35 ease-in-out;
  transition: transform 0.35 ease-in-out;
}

#left-sidebar .collection.open .category-button .material-icons.rotator {
  transform: rotateZ(90deg);
}

#left-sidebar .collection .list-items {
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.35 ease-in-out;
  -moz-transition: height 0.35 ease-in-out;
  transition: height 0.35 ease-in-out;
}

#left-sidebar .collection.open .list-items {
  height: auto;
  overflow: visible;
}

#left-sidebar .collection .category-text.open .material-icons {
  -webkit-transition: transform 0.35 ease-in-out;
  -moz-transition: transform 0.35 ease-in-out;
  transition: transform 0.35 ease-in-out;
}

#left-sidebar .collection .category-text.open .material-icons {
  transform: rotateZ(90deg);
}

#left-sidebar .collection .category-text .list-items {
  height: 0px !important;
  overflow: hidden;
}

#left-sidebar .collection .list-items .category-text .text-details {
  position: relative;
  display: none;
  width: 120%;
  z-index: 9999999 !important;
  transform: translateX(-10%) rotateX(90deg);
  -webkit-transition: transform 0.35s ease-in-out 0.2s;
  -moz-transition: transform 0.35s ease-in-out 0.2s;
  transition: transform 0.35s ease-in-out 0.2s;
}

#left-sidebar .collection.open .list-items .category-text.open .text-details {
  display: block;
  transform: translateX(-10%) rotateX(0deg);
}

.material-icons {
  color: #ab0002;
}

.card-action a {
  color: #ab0002 !important;
  text-transform: lowercase !important;
  font-size: 10px;
}

#left-sidebar,
#replacment-list,
.card,
.collapsible,
.collapsible.popout li {
  box-shadow: 5px 10px 89px;
}

#replacment-list {
  position: absolute;
  z-index: 99999;
  transform: translateX(-240%) rotateX(184deg) rotateZ(4330deg);
  top: 18vh;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  height: 60vh;
  overflow-y: scroll;
}

#replacment-list.open {
  transform: translateX(100%) rotateX(0deg) rotateZ(0deg);
}

.explore {
  transform: translateY(10%) translateX(-15%);
  position: absolute;
  font-size: 300% !important;
}

.swap {
  font-size: 300% !important;
}
#left-sidebar h5 {
  text-transform: uppercase;
  padding-left: 15%;
  padding-bottom: 20%;
  font-size: 18px;
}

li.collection-header.category-button {
  height: 70px;
}

li b {
  font-size: 14px;
}

li.tab a.selected {
  box-shadow: inset 2px 3px 20px rgba(255, 255, 255, 0.6);
}

.card.horizontal .card-stacked .card-content p {
  max-height: calc(10vh - 10px);
  overflow-y: hidden;
  font-size: 12px;
}

.row.horisontal-scroll {
  white-space: nowrap;
}

h1 span small,
h1 span i {
  font-size: 21px;
  color: #ab0002;
  text-shadow: 2px 3px 5px gray;
}

.flow-text {
  text-shadow: 2px 3px 5px gray;
}

.text-button-action {
  transform: translateY(0.5vh) translateX(-3vw);
}

#bottom-menu {
  width: 100vw;
  position: absolute;
  background-color: rgba(171, 0, 2, 0.8);
  z-index: 9999999;
}

.fixed-action-btn.toolbar {
  position: fixed;
  left: 20px;
}

.fixed-action-btn.toolbar a i {
  color: snow !important;
  font-size: 35px;
}

.comments .comment {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
}

.comments .comment .user,
.comments .comment .time {
  color: #ab0002;
  text-shadow: 2px 1px 5px gray;
}

.tags .tag {
  margin-left: 2%;
  padding: 1%;
}

#loader,
#start-loader {
  z-index: 99999999;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ab0002),
    to(black)
  );
  background-image: -webkit-linear-gradient(top, #ab0002, black);
  background-image: -moz-linear-gradient(top, #ab0002, black);
  background-image: linear-gradient(to bottom, #ab0002, black);
}

#loader {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: none;
}

#loader img {
  position: absolute;
  top: 30%;
  left: 40%;
}

#start-loader h1 {
  position: absolute;
  top: 30%;
  transform: translateX(30%);
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-left: 1%;
  color: rgba(255, 255, 255, 1);
  text-shadow: 3px 2px 10px gray;
}

#start-loader h1 span {
  font-size: 24px;
  text-align: right;
}

.tags span i {
  cursor: pointer;
}

.tags span {
  text-transform: uppercase;
}

#commentBox {
  position: absolute;
  z-index: 99999;
  top: 400px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.91);
  transform: rotateX(90deg) rotateY(2003deg) rotateZ(90deg);
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

#commentBox .btn-floating {
  transform: translateX(150%) translateY(150%);
}

#commentBox.open {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

#specific .card {
  height: 450px;
}

.collapsible-body.open {
  box-shadow: 2px 3px 5px gray;
  transform: translateX(-1%);
  background-color: snow;
}

.home .card.big {
  height: 450px;
}

.home .card.big .card-image {
  max-height: 320px;
  overflow-y: hidden;
}

.home .card.horizontal {
  height: 150px;
  overflow-y: hidden;
}

#category .card.big {
  height: 500px;
}

#category .card.big .card-image {
  max-height: 380px;
  overflow-y: hidden;
}

#category .card.horizontal {
  height: 150px;
  overflow-y: hidden;
}

#modal.search {
  max-height: 720px !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

#modal.search .card {
  height: 160px;
  overflow-y: hidden;
  margin-left: 2%;
  margin-right: 2%;
}

#modal.search #close {
  position: fixed;
  top: -10px;
  left: -10px;
  z-index: 999999999;
}
