<span>
    <a class="row">
        <input #searchBox id="search" type="text" class="validate" placeholder="pretraži..." [(ngModel)]="searchPhrase" value="searchPhrase"
            (keyup.enter)="formatUserInput($event, searchBox.value)" (keyup)="autoComplete()" autocomplete="off">
    </a>
</span>
<ul id="search-autocomplete" class="collection" *ngIf="autocompleteResultsList?.length">
    <li *ngFor="let article of autocompleteResultsList" class="collection-item">
        <a (click)="resetAutoCompleteResults()" [routerLink]="article.link">
            {{article.title}}
        </a>
    </li>
</ul>