<div class="row">
  <div class="m7 s12">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" [src]="mainArticle.image_url"
            class="responsive-img">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{mainArticle.title}}
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a [routerLink]="getArticleUrl(articlesCategory, mainArticle)">
              Vidi tekst</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title
            <i class="material-icons right">close</i>
          </span>
          <p>{{mainArticle.description}}...</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let article of secondaryArticles"class="col s12 m5">
      <div class="card horizontal">
        <div class="card-image">
          <img [src]="article.image_url"
            class="responsive-img">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{article.title}}</p>
          </div>
          <div class="card-action">
            <a [routerLink]="getArticleUrl(articlesCategory, article)">Vidi tekst</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m12">
    <ul class="collapsible popout" data-collapsible="accordion">
      <li *ngFor="let article of articles">
        <div class="collapsible-header">
          <i class="material-icons">filter_drama</i>{{article.title}}</div>
        <div class="collapsible-body">
          <p>{{article.description}}</p>
          <p>
            <a [routerLink]="getArticleUrl(articlesCategory, article)"> 
            Vidi tekst
          </a>
        </p>
        </div>
      </li>
    </ul>
  </div>
</div>