<div class="row">
  <div class="m7 s12">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://4.bp.blogspot.com/-pSefxc-CSZk/V1Kwec-h2wI/AAAAAAAAAJs/YMUXmkNMx2QBVtm4YFDqx5IxQSf9YdnNQCLcB/s1600/s_t_031.jpg"
            class="responsive-img">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a routerLink="/tekstovi/kategorija/tekst">This is a link</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title
            <i class="material-icons right">close</i>
          </span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m5">
      <div class="card horizontal">
        <div class="card-image">
          <img src="https://2.bp.blogspot.com/-GRER8B9CpQM/WawWB_g_1fI/AAAAAAAAFcw/_RYQ8Y9tFf4iAoNvpkoFtI7AbTbgFRaBgCLcBGAs/s400/cara%2Bmemulai%2Bprogram%2Bfitnes.png"
            class="responsive-img">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
          </div>
          <div class="card-action">
            <a routerLink="/tekstovi/kategorija/tekst">This is a link</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m5">
      <div class="card horizontal">
        <div class="card-image">
          <img src="https://2.bp.blogspot.com/-GRER8B9CpQM/WawWB_g_1fI/AAAAAAAAFcw/_RYQ8Y9tFf4iAoNvpkoFtI7AbTbgFRaBgCLcBGAs/s400/cara%2Bmemulai%2Bprogram%2Bfitnes.png"
            class="responsive-img">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
          </div>
          <div class="card-action">
            <a routerLink="/tekstovi/kategorija/tekst">This is a link</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m5">
      <div class="card horizontal">
        <div class="card-image">
          <img src="https://2.bp.blogspot.com/-GRER8B9CpQM/WawWB_g_1fI/AAAAAAAAFcw/_RYQ8Y9tFf4iAoNvpkoFtI7AbTbgFRaBgCLcBGAs/s400/cara%2Bmemulai%2Bprogram%2Bfitnes.png"
            class="responsive-img">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
          </div>
          <div class="card-action">
            <a routerLink="/tekstovi/kategorija/tekst">This is a link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m12">
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">filter_drama</i>First</div>
        <div class="collapsible-body">
          <span>Lorem ipsum dolor sit amet.</span>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">place</i>Second</div>
        <div class="collapsible-body">
          <span>Lorem ipsum dolor sit amet.</span>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">whatshot</i>Third</div>
        <div class="collapsible-body">
          <span>Lorem ipsum dolor sit amet.</span>
        </div>
      </li>
    </ul>
  </div>
</div>