<div class="row" id="category" *ngIf="articles && articles.length">
  <div class="m7 s12">
    <div class="col s12 m6">
      <div class="card big">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" [src]="articles.main.image_url" class="responsive-img">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{ articles.main.title }}
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a [routerLink]="getArticleUrl(articles.main)">
              otvori...</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{ articles.main.title }}
            <i class="material-icons right">close</i>
          </span>
          <p>{{ articles.main.description }}...</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let article of articles.featured" class="col s12 m5">
      <div class="card horizontal">
        <div class="card-image">
          <img [src]="article.image_url" class="responsive-img">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ article.title }}</p>
          </div>
          <div class="card-action">
            <a [routerLink]="getArticleUrl(article)">otvori...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m12" *ngIf="articles.articles">
    <ul class="collapsible popout" data-collapsible="accordion">
      <li *ngFor="let article of articles.articles">
        <div class="collapsible-header" (click)="selectArticle(article.id)">
          <i class="material-icons">filter_drama</i>{{ article.title }}</div>
        <div class="collapsible-body" [ngClass]="{open: isArticleSelected(article.id)}">
          <span>{{ article.description }}</span>
          <hr>
          <span class="link col s12" [routerLink]="getArticleUrl(article)">otvori</span>
        </div>
      </li>
    </ul>
  </div>
</div>