<ul class="collapsible" data-collapsible="accordion" *ngIf="activeCategories">
  <li *ngFor="let category of activeCategories">
    <div class="collapsible-header">
      <i class="material-icons">filter_drama</i>{{ category.name }}</div>
    <div class="collapsible-body">
      <ul class="collapsible" data-collapsible="accordion">
        <li *ngFor="let article of category.articles">
          <div class="collapsible-header" (click)="selectArticle(article.id)">
            <i class="material-icons">filter_drama</i>{{ article.title }}</div>
          <div class="collapsible-body" [ngClass]="{open: isArticleSelected(article.id)}">
            <span>{{ article.description }}</span>
            <hr>
            <span class=" link " [routerLink]="getArticleUrl(category, article)">otvori</span>
          </div>
        </li>
      </ul>
    </div>
  </li>
  <li>
</ul>